h1{
	background-color:pink
}
body{
	background-image:url(sprite/f.png)
}
pre {
	background-color: #FFFDC9
}
h1{
	color: #440540
}
h2{
	color: #440540
}
h4 {
	color: #440540
}
h3{
	color: #440540
}
h2 {
	background-color:pink
}
a{
	color: #440540
}